<%-contentFor('headerContent')%>
<link type="text/css" rel="stylesheet" href="<%-locals.userBaseInfo.resHost%>default/stylesheets/home.css"/>
<script type="text/javascript" src="<%-locals.userBaseInfo.resHost%>default/javascripts/common/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="<%-locals.userBaseInfo.resHost%>default/javascripts/common/sea.js"></script>
<%-contentFor('centerContent')%>
<div class="lt-bgcolor"></div>
<div class="app-content">
    <div class="app-lt lt">
        <div class="my-info">
            <img class="my-headimg lt" src="http://hvming.i8xiaoshi.com/ResourceStore/HeadMiddle/4808a9a1-0da7-49cb-868a-e1572e971ca5.jpg"/>
            <p class="my-info-name">爱因斯坦</p>
            <p>产品发展部</p>
        </div>
        <div>
            <ul class="app-lt-menu">
                <li>群组</li>
                <li>
                    <div class="app-lt-submenu">
                        <a class="current"><i class="spbg1 sprite-20"></i>全部群组</a>
                        <a><i class="spbg1 sprite-21"></i>我的参与</a>
                        <a><i class="spbg1 sprite-22"></i>我的管理</a>
                        <a><i class="spbg1 sprite-23"></i>正在申请中</a>
                    </div>
                </li>
                <li>最近活跃群组</li>
                <li>
                    <div class="app-lt-submenu fz12">
                        <a class="current"><i class="spbg1 sprite-40"></i>用户反馈</a>
                        <a><i class="spbg1 sprite-40"></i>市场营销</a>
                        <a><i class="spbg1 sprite-40"></i>技术讨论培训</a>
                        <a><i class="spbg1 sprite-40"></i>技术讨论培训</a>
                        <a><i class="spbg1 sprite-40"></i>技术讨论培训</a>
                        <a class="nav-a1"><i class="spbg1 sprite-24"></i>进入群组</a>
                        <a class="nav-a2"><i class="spbg1 sprite-43"></i>创建新群租</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="app-ct w1049 lt">
        <div class="i-set">
            <div class="igroup-hd">
                <span class="fz14-weight cl000 lt">群组列表</span>
                <span class="rt dcolor cur">全部<i class="sprite-73"></i></span>
            </div>
            <div class="igroup-message cl000">
                <p class="igroup-message-ops">
                    <i class="spbg1 sprite-19"></i>杨迎建申请加入群组“<a>我在逗你玩</a>”，<a>快去处理申请吧！</a>
                </p>
                <p class="igroup-message-ops">
                    <i class="spbg1 sprite-19"></i>杨迎建申请加入群组“<a>我在逗你玩</a>”，<a>快去处理申请吧！</a>
                </p>
                <p class="igroup-message-ops">
                    <i class="spbg1 sprite-19"></i>杨迎建申请加入群组“<a>我在逗你玩</a>”，<a>快去处理申请吧！</a>
                </p>
                <p class="igroup-message-ops">
                    <i class="spbg1 sprite-19"></i>杨迎建申请加入群组“<a>我在逗你玩</a>”，<a>快去处理申请吧！</a>
                </p>
                <p class="igroup-message-ops">
                    <i class="spbg1 sprite-19"></i>杨迎建申请加入群组“<a>我在逗你玩</a>”，<a>快去处理申请吧！</a>
                </p>
            </div>
            <ul class="ta-group-lists p-t15">
                <li class="ta-group-ops">
                    <img class="my-headimg lt" src="http://hvming.i8xiaoshi.com/ResourceStore/HeadMiddle/4808a9a1-0da7-49cb-868a-e1572e971ca5.jpg">
                    <div class="ta-group-info lt">
                        <p><a class="ta-group-name">8小时以外</a></p>
                        <p>创建人：<a>任楚雄</a><span class="mg10">|</span>成员：<a>20</a>人<span class="mg10">|</span>最新更新：2014-12-08</p>
                        <p>群组简介：8小时以外、文体活动、娱乐活动、篮球、乒乓求、羽毛球等等</p>
                    </div>
                    <div class="rt">
                        <span class="ta-group-btn"><i class="spbg1 sprite-30"></i><i class="ta-group-jia">＋</i>加入该群</span>
                    </div>
                </li>
                <li class="ta-group-ops">
                    <img class="my-headimg lt" src="http://hvming.i8xiaoshi.com/ResourceStore/HeadMiddle/4808a9a1-0da7-49cb-868a-e1572e971ca5.jpg">
                    <div class="ta-group-info lt">
                        <p><a class="ta-group-name">8小时以外</a></p>
                        <p>创建人：<a>任楚雄</a><span class="mg10">|</span>成员：<a>20</a>人<span class="mg10">|</span>最新更新：2014-12-08</p>
                        <p>群组简介：8小时以外、文体活动、娱乐活动、篮球、乒乓求、羽毛球等等</p>
                    </div>
                    <div class="rt">
                        <span class="ta-group-btn"><i class="spbg1 sprite-30"></i><i class="ta-group-jia">＋</i>加入该群</span>
                    </div>
                </li>
                <li class="ta-group-ops">
                    <img class="my-headimg lt" src="http://hvming.i8xiaoshi.com/ResourceStore/HeadMiddle/4808a9a1-0da7-49cb-868a-e1572e971ca5.jpg">
                    <div class="ta-group-info lt">
                        <p><a class="ta-group-name">8小时以外</a></p>
                        <p>创建人：<a>任楚雄</a><span class="mg10">|</span>成员：<a>20</a>人<span class="mg10">|</span>最新更新：2014-12-08</p>
                        <p>群组简介：8小时以外、文体活动、娱乐活动、篮球、乒乓求、羽毛球等等</p>
                    </div>
                    <div class="rt">
                        <span class="ta-group-btn"><i class="spbg1 sprite-33"></i>退出该群</span>
                    </div>
                </li>
                <li class="ta-group-ops">
                    <img class="my-headimg lt" src="http://hvming.i8xiaoshi.com/ResourceStore/HeadMiddle/4808a9a1-0da7-49cb-868a-e1572e971ca5.jpg">
                    <div class="ta-group-info lt">
                        <p><a class="ta-group-name">8小时以外</a></p>
                        <p>创建人：<a>任楚雄</a><span class="mg10">|</span>成员：<a>20</a>人<span class="mg10">|</span>最新更新：2014-12-08</p>
                        <p>群组简介：8小时以外、文体活动、娱乐活动、篮球、乒乓求、羽毛球等等</p>
                    </div>
                    <div class="rt">
                        <span class="ta-group-btn"><i class="spbg1 sprite-33"></i>退出该群</span>
                    </div>
                </li>
                <li class="ta-group-ops">
                    <img class="my-headimg lt" src="http://hvming.i8xiaoshi.com/ResourceStore/HeadMiddle/4808a9a1-0da7-49cb-868a-e1572e971ca5.jpg">
                    <div class="ta-group-info lt">
                        <p><a class="ta-group-name">8小时以外</a></p>
                        <p>创建人：<a>任楚雄</a><span class="mg10">|</span>成员：<a>20</a>人<span class="mg10">|</span>最新更新：2014-12-08</p>
                        <p>群组简介：8小时以外、文体活动、娱乐活动、篮球、乒乓求、羽毛球等等</p>
                    </div>
                    <div class="rt">
                        <span class="ta-group-btn"><i class="spbg1 sprite-25"></i>管理该群</span>
                    </div>
                </li>
                <li class="ta-group-ops">
                    <img class="my-headimg lt" src="http://hvming.i8xiaoshi.com/ResourceStore/HeadMiddle/4808a9a1-0da7-49cb-868a-e1572e971ca5.jpg">
                    <div class="ta-group-info lt">
                        <p><a class="ta-group-name">8小时以外</a></p>
                        <p>创建人：<a>任楚雄</a><span class="mg10">|</span>成员：<a>20</a>人<span class="mg10">|</span>最新更新：2014-12-08</p>
                        <p>群组简介：8小时以外、文体活动、娱乐活动、篮球、乒乓求、羽毛球等等</p>
                    </div>
                    <div class="rt">
                        <span class="ta-group-btn"><i class="spbg1 sprite-26"></i>重新激活</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<% include ../controls/modules/modules-set.ejs %>
<%-contentFor('footerContent')%>
