<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%=title%></title>
    <!--start css-->
    <link type="text/css" rel="stylesheet" href="<%-locals.userBaseInfo.resHost%>default/stylesheets/fw.css" />
    <link type="text/css" rel="stylesheet" href="<%-locals.userBaseInfo.resHost%>default/stylesheets/app.css" />
    <!--end css-->
    <%-defineContent('headerContent')%>
    <script type="text/javascript">
        var cpec_session=<%-:locals.userBaseInfo|globalConfig %>;
    </script>
</head>
<body>
<div class="app-header">
    <div class="app-header-top">
        <div class="login-info">
            <a href="javascript:;"></a>
            <%if(locals.userBaseInfo.uname){%>
            <a href="javascript:;"><%=locals.userBaseInfo.uname%></a>
            您好，欢迎来到i8社区中心！ <a href="/logout" title="退出系统">退出</a>
            <%}else{%>
            您好，欢迎来到i8社区中心！ <a href="/">请登录</a>
            <%}%>
        </div>
    </div>
    <div class="app-header-main">
        <span class="app-placard-icon lt m-r15"></span>
        <p class="b fz18 m-t10 heit">公告管理</p>
    </div>
</div>
<div class="app-content-bg">
   <%-defineContent('centerContent')%>
</div>
<div class="app-footer">
    <ul class="links-list">
        <li >
            <a href="###">联系我们</a><span>|</span>
        </li>
        <li >
            <a href="###">安全隐私</a><span>|</span>
        </li>
        <li >
            <a href="###">合作伙伴</a>
        </li>
        <li >
            <a class="footer-phone"></a>
        </li>
        <li >
            <a class="footer-qq"></a>
        </li>
    </ul>
    <div class="app-copyright">
        沪ICP备13026113号 Copyright &reg; 2012-2014 i8xiaoshi
    </div>
</div>
<script  src="<%-locals.userBaseInfo.resHost%>default/javascripts/common/jquery-1.8.3.min.js"></script>
<script  src="<%-locals.userBaseInfo.resHost%>default/javascripts/common/sea.js"></script>
<script>
    seajs.use('<%-locals.userBaseInfo.resHost%>default/javascripts/ucenter/global');
</script>
<%-defineContent('footerContent')%>
</body>
</html>

