<%-contentFor('headerContent')%>
<link type="text/css" rel="stylesheet" href="<%-locals.userBaseInfo.resHost%>default/stylesheets/home.css"/>
<script type="text/javascript" src="<%-locals.userBaseInfo.resHost%>default/javascripts/common/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="<%-locals.userBaseInfo.resHost%>default/javascripts/common/sea.js"></script>
<%-contentFor('centerContent')%>
<div class="app-content">
    <div class="app-ct">
        <div class="app-placard-hd">
            <span class="iset-tt-btn lt"><i class="spbg1 sprite-74"></i>新建发布</span>
            <div class="rt m-t10">
                <div class="rt">
                    <select style=" height: 28px; width: 100px;"></select>
                    <select style=" height: 28px; width: 100px;"></select>
                    <label class="rel iblock">
                        <input class="app-placard-shtxt" type="text" placeholder="请输入搜索内容">
                        <span class="app-placard-shbtn spbg1 sprite-75"></span>
                    </label>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <table class="app-placard-mglist m-t10">
            <thead>
            <tr>
                <td>标题</td>
                <td>创建修改时间</td>
                <td>发布时间</td>
                <td>发布范围</td>
                <td>发布人</td>
                <td>图片数量</td>
                <td>分类</td>
                <td>状态</td>
                <td>操作</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><a>国庆节放假通知</a></td>
                <td>2014-11-05 10:00:00</td>
                <td>2014-11-05 10:00:00</td>
                <td>全部</td>
                <td>上海汇明</td>
                <td>2</td>
                <td>生活</td>
                <td><span class="clred">待发布</span></td>
                <td><a class="m-r20"><i class="spbg1 sprite-69"></i>编辑</a><a><i class="spbg1 sprite-70"></i>删除</a></td>
            </tr>
            <tr>
                <td><a>国庆节放假通知</a></td>
                <td>2014-11-05 10:00:00</td>
                <td>2014-11-05 10:00:00</td>
                <td>全部</td>
                <td>上海汇明</td>
                <td>2</td>
                <td>生活</td>
                <td><span class="clgreen">已发布</span></td>
                <td><a class="m-r20"><i class="spbg1 sprite-80"></i>编辑</a><a><i class="spbg1 sprite-70"></i>删除</a></td>
            </tr>
            <tr>
                <td><a>国庆节放假通知</a></td>
                <td>2014-11-05 10:00:00</td>
                <td>2014-11-05 10:00:00</td>
                <td>全部</td>
                <td>上海汇明</td>
                <td>2</td>
                <td>生活</td>
                <td><span class="clred">待发布</span></td>
                <td><a class="m-r20"><i class="spbg1 sprite-69"></i>编辑</a><a><i class="spbg1 sprite-70"></i>删除</a></td>
            </tr>
            <tr>
                <td><a>国庆节放假通知</a></td>
                <td>2014-11-05 10:00:00</td>
                <td>2014-11-05 10:00:00</td>
                <td>全部</td>
                <td>上海汇明</td>
                <td>2</td>
                <td>生活</td>
                <td><span class="clgreen">已发布</span></td>
                <td><a class="m-r20"><i class="spbg1 sprite-80"></i>编辑</a><a><i class="spbg1 sprite-70"></i>删除</a></td>
            </tr>
            <tr>
                <td><a>国庆节放假通知</a></td>
                <td>2014-11-05 10:00:00</td>
                <td>2014-11-05 10:00:00</td>
                <td>全部</td>
                <td>上海汇明</td>
                <td>2</td>
                <td>生活</td>
                <td><span class="clred">待发布</span></td>
                <td><a class="m-r20"><i class="spbg1 sprite-69"></i>编辑</a><a><i class="spbg1 sprite-70"></i>删除</a></td>
            </tr>
            <tr>
                <td><a>国庆节放假通知</a></td>
                <td>2014-11-05 10:00:00</td>
                <td>2014-11-05 10:00:00</td>
                <td>全部</td>
                <td>上海汇明</td>
                <td>2</td>
                <td>生活</td>
                <td><span class="clgreen">已发布</span></td>
                <td><a class="m-r20"><i class="spbg1 sprite-80"></i>编辑</a><a><i class="spbg1 sprite-70"></i>删除</a></td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
<%-contentFor('footerContent')%>
